body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial;
    background: #f2f2f2;
}

.box {
    background: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}

#emoji {
    font-size: 80px;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
